[flake8]
#  E203 -> whitespace before ':' (conflicts with Black)
#  E231 -> Bad trailing comma (conflicts with Black)
#  E501 -> line too long (conflicts with Black)

extend-ignore:
  E203,
  E231,
  E501,
