# Copyright 2020 Pants project contributors.
# Licensed under the Apache License, Version 2.0 (see LICENSE).

# Pants workspace files
/.pants.d/
/dist
/.pids
/.pants.workdir.file_lock*

# Python files
__pycache__/
*.pyc
.venv/

# Editors
.idea/
*.iml
